 <ul class='breadcrumb'>
    <li><%= link_to 'Home',  dashboard_path %></li>
    <li><%= link_to 'Tasks', dashboard_tasks_path %></li>
 	<li><%= link_to @task.name, dashboard_tasks_path(@task) %></li>
 	<li><%= link_to 'Edit', edit_dashboard_task_path(@task) %></li>
</ul>


<h1>Editing Dashboard Task</h1>

<%= render 'form', task: @task %>

<%= link_to 'Show', [:dashboard, @task], class: 'btn btn-primary btn-lg top' %> |
<%= link_to 'Back', dashboard_tasks_path,  class: 'btn btn-default btn-lg top' %>
